/*=========================
    RESPONSIVE DESIGN
  =========================
        MOBILES*/

@media (min-width: 320px) and (max-width: 480px) {
  .title h1 {
    font-size: 1.8rem;
    padding: 0.5em;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .sidebar {
    width: 100%;
  }

  .about {
    padding-bottom: 2em;
  }

  .pfp-container {
    width: 15em;
  }

  .intro-para {
    font-size: 1rem;
  }

  .links {
    font-size: 2rem;
  }

  #skills {
    scroll-margin-top: 4em;
  }

  #projects {
    scroll-margin-top: 4em;
  }

  .work {
    padding-bottom: 2em;
  }

  .works-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-card {
    width: 300px;
  }

  .work-card img {
    width: 100%;
  }

  #msg {
    scroll-margin-top: 4em;
  }
}
